div.dataTables_wrapper {
    margin: 0 auto;
    font-size: .64rem;
}

div.dataTables_wrapper tr {
    height: 50px;
}

table.dataTable th,
table.dataTable td {
    vertical-align: middle;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
  background-color: rgba(68,138,255,.1);
}